
@import url(http://fonts.googleapis.com/earlyaccess/notonaskharabicui.css);

/*
 * PakType fonts http://paktype.sourceforge.net/download.php
 * Code: https://svn.code.sf.net/p/paktype/code/Fonts/Deployment
 */



@font-face {
  font-family: 'PakType Naskh Basic Wide';
  font-style: normal;
  src: url(PakTypeNaskhBasicWide.eot);
  src: url(PakTypeNaskhBasicWide.eot?#iefix) format('embedded-opentype'),
       url(PakTypeNaskhBasicWide.woff2) format('woff2'),
       url(PakTypeNaskhBasicWide.woff) format('woff'),
       url(PakTypeNaskhBasicWide.ttf) format('truetype'),
       url(PakTypeNaskhBasicWide.svg#svgFontName) format('svg'); /* Legacy iOS */

}

html {
    direction: rtl;
}

section {
    margin-left: 20vw;
    padding: 0vw 0.5vw 0vw 0.5vw;
    background-color: lightyellow;
    border: 5px solid gold;
}

h1 {
    text-align: center;
    color: gold;
    font-weight: lighter;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.eoAaya {
    font-size: calc(1.5vw + 1em);
    font-family: 'PakType Naskh Basic Wide';
    color: darkgreen;
}

.reh {
    font-size: calc(0.15vw + 1em);
    font-family: 'PakType Naskh Basic Wide';
    color: darkred;
}

.ramooz {
    font-size: calc(0.5vw + 1em);
    font-family: 'PakType Naskh Basic Wide','Noto Naskh Arabic UI';
    color: darkblue;
}

    .ramooz:before {
        content: "\200c\00a0"; /* zwnj + nbsp "\200c\00a0" */
    }

.ramoozWide {
    font-size: calc(0.5vw + 1em);
    font-family: 'PakType Naskh Basic Wide','Noto Naskh Arabic UI';
    color: darkblue;
}

    .ramoozWide:before {
        content: "\00a0\00a0"; /* zwnj + nbsp "\200c\00a0" */
    }

    .ramoozWide:after {
        content: "\00a0"; /* zwnj + nbsp "\200c\00a0" */
    }
.body {
    font-size: calc(0.5vw + 1em);
    /*font-family: 'Noto Naskh Arabic UI';*/
    font-family: 'PakType Naskh Basic Wide','Noto Naskh Arabic UI';
    position: relative;
}

.heading {
    font-size: calc(2vw + 1em);
    font-family: 'PakType Naskh Basic Wide','Noto Naskh Arabic UI';
}

p {
    text-align: center;
}

.juz {
    font-size: calc(0.5vw + 0.35em);
    position: absolute;
    left: 0vw;
    width: 5.5vw;
    display: inline-grid;
    color: darkolivegreen;
    background-color: gold;
    user-select: none;
}

.manzil {
    font-size: calc(0.5vw + 0.35em);
    position: absolute;
    left: 5vw;
    display: grid;
    width: 5vw;
    color: darkmagenta;
    user-select: none;
}

.reh-hashiya {
    font-size: calc(0.5vw + 0.35em);
    position: absolute;
    left: 12vw;
    display: inline-grid;
    width: 6vw;
    color: darkred;
    user-select: none;
}

[data-type="ra-izafi"] {
    color: darkblue;
}

.hashiya {
    font-size: calc(0.5vw + 0.35em);
    position: absolute;
    left: 12vw;
    display: inline-grid;
    width: 6vw;
    user-select: none;
}

[data-type="eoa-izafi"] {
    font-size: calc(0.5vw + 0.35em);
    position: absolute;
    display: inline;
    left: 5vw;
    width: 6vw;
    color: darkgreen;
}

[data-type="ra-izafi"] {
    color: darkblue;
}

.ruku {
    font-size: calc(0.5vw + 0.35em);
    position: absolute;
    display: inline;
    left: 0vw;
    background-color: lightgray;
    user-select: none;
}

    .ruku:after {
        background-color: lightgray;
    }

    .ruku:after {
        content: "ع";
        background-color: lightgray;
    }