/*
@import url(https://svn.code.sf.net/p/paktype/code/Fonts/Deployment/css/paktype.css);
@import url(http://fonts.googleapis.com/earlyaccess/notonaskharabicui.css);
*/
.eoAaya {
    font-size: 50.0pt;
    font-family: 'PakType Naskh Basic';
}

.ramooz {
    font-size: 40.0pt;
    font-family: 'PakType Naskh Basic','Noto Naskh Arabic UI';
    /*font-family: 'Noto Naskh Arabic UI','PakType Naskh Basic';*/
}

.body {
    font-size: 30.0pt;
    /*font-family: 'Noto Naskh Arabic UI';*/
    font-family: 'PakType Naskh Basic','Noto Naskh Arabic UI';
}

.heading {
    font-size: 50.0pt;
    font-family: 'PakType Naskh Basic','Noto Naskh Arabic UI';
}

.hashiya {
    display: none;
}
